---
title: zelfroster
layout: base.njk
---

<h1>Hello</h1>
<p><i>Hello my name is <b>Sumit Kumar Soni</b></i></p>
<br>
<h1>Context</h1>
<h3>Welcome to my portfolio</h3>
<p>So, we are going to test that if sass works with this vite eleventy setup</p>
<p>seems like vite is not working</p>
<p>well its working now :)</p>
<br>
<h1>Bye Bye</h1>
<br>
<br>
<p>P.S - this colorscheme is really good, I am serious 🙂</p>
